@import '../../styles.scss';

.candidate-list {
    min-height: 60px;
    height: 94%;
    width: 95%;
    border-radius: 4px;
    margin: 0 auto;
    overflow: auto;
    display: block;
    box-shadow: 0px 1px 4px 1px #d3d3d3;
    background: $rt-app-list-bg;
}

mat-grid-tile {
    background: transparent;
}

.candidate-box {
    padding: 7px;
    color: $rt-app-global-font-color;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    border-radius: 5px;
    background: linear-gradient(145deg, #dde0e1, #ffffff);
    box-shadow: 1px 2px 3px #d3d3d3;
}

.candidate-list::-webkit-scrollbar {
    width: 0.4em;
}

.candidate-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.candidate-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.mat-figure {
    flex-direction: column;
}

.cardName {
    color: $rt-app-global-icon-color;
    font-weight: 500;
    font-size: 12px;
    margin-right: auto;
}

.kanban-title {
    display: block;
    color: $rt-app-board-font-color;
    margin-bottom: 5px;
}

.cardSkilsName {
    font-size: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.cardSkilsName mat-icon {
    font-size: 15px;
    height: auto;
    width: auto;
}

.candidate-box:last-child {
    border: none;
}

.candidate-list.cdk-drop-list-dragging .candidate-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}