<mat-toolbar class="rt-title-card">
  <mat-icon class="mat-18">dashboard</mat-icon>
  <span style="margin: 0px 30px;">Kanban Board</span>
  <span class="spacer"></span>
  <mat-icon class="mat-18">person</mat-icon>
</mat-toolbar>

<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="sideMenu-container">
    <mat-icon class="mat-18">home</mat-icon>
    <mat-icon class="mat-18">filter</mat-icon>
    <mat-icon class="mat-18">gps_fixed</mat-icon>
    <mat-icon class="mat-18">message</mat-icon>
    <mat-icon class="mat-18">settings</mat-icon>
  </mat-drawer>
  <mat-drawer-content class="main-content">

    <mat-grid-list cols="6" rowHeight="98%" cdkDropList cdkDropListOrientation="horizontal" class="section-list"
      (cdkDropListDropped)="drop($event)">

      <mat-grid-tile *ngFor="let item of section_list.section_arr" cdkDrag  class="section-box" >
        <app-kanban-board [kanbanBoardTitle]="item" class="holder"></app-kanban-board>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>


</mat-drawer-container>