@import '../styles.scss';

.spacer {
  flex: 1 1 auto;
}

.rt-title-card {
  background: transparent;
}

mat-icon {
  color: $rt-app-global-icon-color;
}

.main-container {
  width: 100vw;
  max-width: 100%;
  height: 93vh;
  display: inline-block;
  vertical-align: top;
  background-color: transparent !important;
}

.sideMenu-container {
  width: 5vw;
  background-color: transparent !important;
  border: none;
}

.sideMenu-container mat-icon:not(:first-child){
  opacity: 0.3;
}

.main-content {
  background-color: white;
  box-shadow: -1px 3px 13px 3px #cecece;
  margin-left: 46px;
  border-start-end-radius: 9px;
  border-start-start-radius: 9px;
  margin-top: 10px;
}

.holder {
  height: 99%;
  width: 95%;
}
.section-list {
  width: 100%;
  max-width: 100%;  
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.section-box {
  padding: 5px 5px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.section-box:last-child {
  border: none;
}

.section-list.cdk-drop-list-dragging .section-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}